body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  max-width: 250px;
  text-align: center;
}
.card img{
  width: 250px;
  border-radius: 15px;
}
.card h1{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:  hsl(218, 44%, 22%)
;
}
.card p{
  color: hsl(216, 15%, 48%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px
}

